.profile-pic {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

@media only screen and (max-width: 480px) { /* For devices with screen width less than or equal to 480px */
  .profile-pic {
      max-width: 50%; /* reduce max-width to 50% for mobile */
      margin: 10px auto;
  }
}
