#blogs-header {
    font-size: calc(20px + 5vmin);
    color: white;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
      /* Make bold */
      font-weight: bold;
}