.App {
  text-align: center;
}

.App-header {
  background-color: #253341;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.footer-links-space {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: calc(5px + 2vmin);
  color: white;
}

.footer-attached-bottom {
  /* position: fixed; */
  /* bottom: 0; */
  padding-top: 150px;
  align-content: center;
  padding-bottom: 5px;
  width: 100%;
}

.footer-app-info {
  font-size: calc(5px + 1vmin);
  color: white;
}

.name-center-header {
  font-size: calc(20px + 5vmin);
  color: white;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
    /* Make bold */
    font-weight: bold;
}

.content-center-text {
  font-size: calc(10px + 1vmin);
  color: white;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;

}

.profile-pic {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
